//Get rem-calc into the mix
@import "vendor/foundation/functions";

// Colours
$sidebar-color: #F5F5F5;
$primary-font-color: #222222;
$accent-color: #A60000;

// Text Variables
$header-font-family: "Ubuntu", sans-serif;
$header-font-color: $primary-font-color;
$paragraph-font-family: "Ubuntu", sans-serif;
$paragraph-font-color: $primary-font-color;
$anchor-font-color: $primary-font-color;

// Sidebar
$side-nav-padding: rem-calc(32 20);
$side-nav-list-position: inside;
$side-nav-list-margin: rem-calc(0 0 7 0);
$side-nav-font-size: rem-calc(16);

$side-nav-link-color: $primary-font-color;
$side-nav-link-color-active: scale-color($side-nav-link-color, $lightness: 30%);
$side-nav-link-color-hover: scale-color($side-nav-link-color, $lightness: 30%);

@import "vendor/foundation";


* {
    font-family: "Ubuntu", sans-serif;
}

// Sidebar styles
.sidebar {
    background-color: $sidebar-color;

    .heading {
        font-size: rem-calc(20);
    }
}

.accent {
    color: $accent-color;
}

// Padded articles for containing iframes
.padded-article {
    padding-bottom: rem-calc(20);
}